* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  background-image: linear-gradient(to top, #42275a, #734b6d);
}

h1 {
  color: #e7decd;
}

p {
  color: #e1faf9;
  word-wrap: break-word;
  width: 380px;
}
