* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, #0039f6, #000000);
}

.hero {
  height: 120px;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  background: linear-gradient(
    45deg,
    #8700ff,
    #00ff00,
    #d9ff02,
    #ff0000,
    #ff008c,
    #00eeff
  );
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

.text-fade {
  animation: text-fade 4s;
}

@keyframes text-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

h1 {
  font-family: "Anton", sans-serif;
  font-size: 66px;
  color: white;
  font-style: italic;
}

h2 {
  font-size: 32px;
  color: white;
  /* font-style: italic; */
  font-family: "Poppins", sans-serif;
}

li {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 18px;
  color: white;
  font-family: "Poppins", sans-serif;
}

a {
  font-size: 24px;
  color: white;
}

a:hover {
  color: yellow;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.2s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.parent {
  display: flex;
  /* border: 3px solid white; */
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 11%;
}

.port-parent {
  display: flex;
  /* border: 3px solid white; */
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0%;
}

.box1 {
  padding: 10px;
  flex: 0 0 calc((100% - (20px * 6)) / 4);
  margin: 75px;
  /* border: 3px solid red; */
  text-align: center;
}

/* .img-box1 {
  padding: 10px;
  flex: 0 0 calc((100% - (20px * 6)) / 4);
  margin: 75px;
  border: 3px solid red;
} */

.img-box2 {
  padding: 20px;
  /* flex: 0 0 calc((100% - (20px * 6)) / 4); */

  /* border: 3px solid yellow; */
}

.box2 {
  padding: 10px;
  flex: 0 0 calc((100% - (20px * 6)) / 4);
  text-align: center;
  margin: 75px;
  /* border: 3px solid red; */
}

.about-enlarge {
  transition: transform 0.2s;
  margin: 0 auto;
  height: 100px;
  width: 150px;
  object-fit: cover;
  border-radius: 10%;
}

.about-enlarge > img {
  float: left;
  /* border: 2px solid black; */
  width: 45%;
  margin: 1.66%;
}

.about-enlarge:hover {
  transform: scale(1.05);
}

/*Making this responsive*/
.box3 {
  color: white;
  padding: 50px;
  align-items: center;
  text-align: center;
}

.box3 img {
  min-width: 190px;
  height: 300px;
}

.parent3 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

/*Responsive*/

@media screen and (max-width: 900px) {
  .parent3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .parent3 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 430px) {
  .nav-links {
    display: none;
  }
}
