* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.center-text {
  text-align: center;
}

body {
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  background-image: linear-gradient(to top, #42275a, #734b6d);
}

a {
  font-size: 20px;
  color: #e7decd;
}

h1 {
  color: #e7decd;
}

p {
  color: #e1faf9;
  word-wrap: break-word;
  width: 380px;
}

.image-container {
  width: 400px;
  height: 400px;
  border: 3px solid white;
  text-align: center;
  margin-top: 0px;
}

.about-enlarge {
  transition: transform 0.2s;
  margin: 0 auto;
}

.about-enlarge > img {
  float: left;
  border: 2px solid black;
  width: 45%;
  margin: 1.66%;
}

.about-enlarge:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.container img {
  float: left;
  width: 50%;
  margin: 10px;
  margin-top: 30px;
}

.box1 {
  width: 350px;
  height: 350px;
  border: 3px solid red;
  text-align: center;
  color: #e7decd;
  font-size: 22px;
  font-weight: bold;
  margin-top: 500px;
}

.box2 {
  width: 350px;
  height: 350px;
  border: 3px solid green;
  text-align: center;
  color: #e7decd;
  font-size: 22px;
  font-weight: bold;
  margin-top: 500px;
}

.box3 {
  width: 350px;
  height: 350px;
  border: 3px solid blue;
  text-align: center;
  color: #e7decd;
  font-size: 22px;
  font-weight: bold;
  margin-top: 500px;
}

nav {
  display: flex;
  justify-content: center;
  /* border: 3px solid yellow; */
  text-align: center;
}
